<div class="address">
  <div class="form-group">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="well well-sm">

            <div class="field">
              <%= f.label :street %>
              <%= f.text_field :street, :class => 'form-control' %>
            </div>
            <%=f.error_span(:street) %>

            <div class="field">
              <%= f.label :city %>
              <%= f.text_field :city, :class => 'form-control' %>
            </div>
            <%=f.error_span(:city) %>

            <div class="field">
              <%= f.label :state %>
              <%= f.text_field :state, :class => 'form-control' %>
            </div>
            <%=f.error_span(:state) %>

            <div class="field">
              <%= f.label :zipcode %>
              <%= f.text_field :zipcode, :class => 'form-control' %>
            </div>
            <%=f.error_span(:zipcode) %>

            <div class="field">
              <%= f.label :country %>
              <%= f.text_field :country, :class => 'form-control' %>
            </div>
            <%=f.error_span(:country) %>
            <%= link_to_remove_association('Delete address', f, {wrapper_class:'address'})%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
