<div class="address">
  <%= f.label :street %>
  <%= f.text_field :street %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :state %>
  <%= f.text_field :state %>
  <%= f.label :zipcode, "Zip"%>
  <%= f.text_field :zipcode %>
  <%= f.label :country %>
  <%= f.text_field :country %>
  <%= link_to_remove_association('Delete address', f, {wrapper_class:'address'})%>
</div>
