<%= form_for(address_book) do |f| %>
  <% if address_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address_book.errors.count, "error") %> prohibited this address_book from being saved:</h2>

      <ul>
      <% address_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_id, "Title" %>
    <%= f.collection_select(:title_id, Title.all, :id, :title, {}, {multiple: false})%> <%= link_to 'Add Title', titles_path %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_select :date_of_birth, start_year: 1900 %>
  </div>

  <div class="field">
    <%= f.label  "Address" %>
      <%= f.fields_for :addresses do |a| %>
        <%= a.label :street %>
        <%= a.text_field :street %>
        <%= a.label :city %>
        <%= a.text_field :city %>
        <%= a.label :state %>
        <%= a.text_field :state %>
        <%= a.label :zipcode, "Zip"%>
        <%= a.text_field :zipcode %>
        <%= a.label :country %>
        <%= a.text_field :country %>
      <% end %>
  </div>

  <div class="field">
    <%= f.fields_for :phone_numbers do |p| %>
      <%= p.label :phone, "Phone Number"%>
      <%= p.text_field :phone%>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
