<p id="notice"><%= notice %></p>

<h1>Address Books</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Date of birth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @address_books.each do |address_book| %>
      <tr>
        <td><%= address_book.first_name %></td>
        <td><%= address_book.last_name %></td>
        <td><%= address_book.date_of_birth %></td>
        <td><%= link_to 'Show', address_book %></td>
        <td><%= link_to 'Edit', edit_address_book_path(address_book) %></td>
        <td><%= link_to 'Destroy', address_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address Book', new_address_book_path %>
