<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @address_book.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @address_book.last_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @address_book.date_of_birth %>
</p>

<%= link_to 'Edit', edit_address_book_path(@address_book) %> |
<%= link_to 'Back', address_books_path %>
