<p id="notice"><%= notice %></p>

<div>
  <% if user_signed_in? %>
    <%= image_tag(current_user.picture_user.url(:medium))%>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @address_book.full_name %>
</p>

<p>
  <strong>Address:</strong>
  <% if @address_book.addresses.any? %>
    <% @address_book.addresses.each do |a| %>
      <%= "#{a.street}, #{a.city}, #{ a.state}, #{a.zipcode}, #{a.country}" %>
    <% end %>
  <% else %>
    <p> not available </p>
  <% end %>
</p>

<p>
  <strong>Phone Number:</strong>
  <% if @address_book.phone_numbers.any? %>
    <% @address_book.phone_numbers.each do |phone| %>
      <%= "#{phone.phone}" %>
    <% end %>
  <% else %>
    <p> not available </p>
  <% end %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @address_book.date_of_birth %>
</p>

<%= link_to 'Edit', edit_address_book_path(@address_book) %> |
<%= link_to 'Back', address_books_path %>
